.alata {
  font-family: 'Alata', sans-serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.first_color {
  background-color: rgb(74, 101, 160);
}

.secondary_color {
  background-color: rgb(86, 131, 220);
}

.text_white {
  color: white;
}

.header {
  align-items: center;
  flex-wrap: wrap;
}

.main_image {
  width: 50%;
}

.mainTitle {
  width: 50%;
}

@media screen and (min-width: 768px) {
  .first_color {
      background-color: rgba(255, 0, 0, 0.774);
    }

    .secondary_color {
      background-color: rgba(255, 0, 0, 0.219);
    }

}
