#Navbar {
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.5rem 1rem;
}

.homeLink {
  display: block;
  background-color: transparent;
  border: none;
  align-self: center;
}

svg {
  font-size: 50px;
}

.activeLink {
  display: none;
}

#year {
  margin-left: 2rem;
  font-size: 1.7rem;
  font-weight: bold;
}

#rank {
  font-size: 1.2rem;
}

.buttonNav {
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  #Navbar {
    padding: 0.5rem 3rem;
  }

  svg {
    font-size: 35px;
  }
}
